<!DOCTYPE html>
<html>

<head>
    <title>Account Statement</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

        body {
            font-family: 'Manrope', sans-serif;
            margin: 0;
            padding: 20px 10%;
        }

        ​ h1 {
            text-align: center;
        }

        ​ table {
            border-collapse: collapse;
            width: 94%;
            padding: 0 3%;
            margin: 1rem auto;
        }

        tr {
            width: 100%;
        }

        th,
        td {
            border: none;
            padding: 8px;
            text-align: left;
            font-size: 13px;
        }

        th {
            background-color: #f2f2f2;
            padding: 1rem 0.4rem;
        }
    </style>
</head>

<body>
    <div class="row">
        <div
            class="col-md-4">
            <img src="https://res.cloudinary.com/dszrk3lcz/image/upload/v1690487345/Group_iwkxne.png" alt='Merchro'
                style="width: 11rem" />
        </div>
        <div class="col-md-8">
            <div
                class="row">
                <div class="col-md-6">
                    <b>Support</b>
                    <div style="display: flex;align-items: center;">
                        <img src="https://res.cloudinary.com/dszrk3lcz/image/upload/v1690546545/evaEmailFill0_sey7t5.png" />
                        <p style="margin-left: 15px;">
                            support@mongoro.com
                        </p>
    
                    </div>
                </div>
                <div class="col-md-6" style="display: flex;align-items: center;">
                    <img src="https://res.cloudinary.com/dszrk3lcz/image/upload/v1690546578/Vector_ynkzvw.png" />
                    <p style="margin-left: 15px;">
                        21 Blantyre Crescent,<br> Wuse 2. Abuja
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr style="border: none; border-top: 0.5px solid #3E3E0D" />
    <hr style="border: none; border-top: 1px solid #3E3E0D" />
    <hr style="border: none; border-top: 1.5px solid #3E3E0D" />
    <div style="margin: 0 0 5rem 0;  padding: 0rem 3% 0 3%; vertical-align: top;">
        <div
            style="display: inline-block; width: 47%; margin: 0rem 0 0 0; vertical-align: top; position: relative; top: 0.7rem;">
            <p>Bill To:</p>
            <h4 style="font-weight: 500; padding: 0">{{topList.billTo}}</h4>
            <p>{{topList.billToEmail}}
                <br />
                {{topList.billToPhone}}
            </p>
        </div>
        <div
            style="display: inline-block; width: 47%; margin: 0rem 0 0 0; vertical-align: top; position: relative; top: 0.7rem; text-align: right;">
            <p>Bill From:</p>
            <h4 style="font-weight: 500; padding: 0">{{topList.billFrom}}</h4>
            <p>{{topList.billFromEmail}}
                <br />
                {{topList.billFromPhone}}
            </p>
        </div>
        <div style="display: inline-block; width: 48%; margin: 4rem 0 0 0; vertical-align: top;">
            <div style="display: flex; width: 100%; align-items:center; gap:10px">
                <p style="width: 30%">Due Date: </p>
                <h4>{{topList.dueDate}}</h4>
            </div>
            <div style="display: flex; width: 100%; align-items:center; gap:10px">
                <p style="width: 30%">Invoice Date: </p>
                <h4> {{topList.invoiceDate}}</h4>
            </div>
        </div>
        <div style="display: inline-block; width: 48%; margin: 4rem 0 0 0; vertical-align: top; text-align: right;">
            <div
                style="display: flex; width: 100%; align-items:center; justify-content: flex-end; gap:20px; text-align: right;">
                <p style="width: 50%">Invoice Number: </p>
                <h4> {{topList.invoiceDate}}</h4>
            </div>
        </div>
    </div>
    <table>
        <tr>
            <th style="width: 30%">Payment Description</th>
            <th style="width: 20%">Unit Price</th>
            <th style="width: 20%;">Quantity</th>
            <th style="width: 20%">Amount</th>
        </tr>
        ​ ​{{#each products.prodlist}}
        <tr>
            <td style="width: 30%">{{this.itemType}}</td>
            <td style="width: 20%;">&#8358;{{this.unitprice}}</td>
            <td style="width: 20%">{{this.quantity}}</td>
            <td style="width: 10%">&#8358;{{this.netAmount}}</td>
        </tr>
        {{/each}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!-- Add more rows for additional transactions -->
    </table>
    <div
        style="border-top: 0.5px solid #999999; padding:0.3rem 5%; background: #f2f4f5; width: 85%; color: #737B8B; display: flex; justify-content: space-between; gap: 10px; align-items: center; margin: 2rem auto 0 auto">
        <p>SubTotal</p>
        <p>&#8358;{{topList.subtotal}}</p>
    </div>
    <div
        style="border-bottom: 0.5px solid #999999; padding:0.3rem 5%; background: #f2f4f5; width: 85%; color: #737B8B; display: flex; justify-content: space-between; gap: 10px; align-items: center; margin: 0rem auto 2rem auto">
        <p>Tax</p>
        <p>{{topList.tax}} - &#8358;{{topList.tax}}</p>
    </div>
    <div
        style="padding:0.2rem 5%; background: #838319; width: 90%; color: #fff; display: flex; gap: 10px; align-items: center; margin: 2rem 0">
        <p>Total Amount Paid: </p>
        <p>&#8358;{{topList.total}}</p>
        <!-- <p><span style="font-weight: 200">(Fifteen thousand naira only)</span></p> -->
    </div>
    <div style="padding: 1rem 5%">
        <div>
            <h4 style="font-weight: 800;">For Transfer</h4>
        </div>
        <div style="display: inline-block; width: 100%; margin: 0rem 0 0 0; vertical-align: center;">
            <div style="display: inline-block; width: 100%">
                <p><b>Account Name</b>: {{topList.accountName}} </p>
                <p><b>Account Number</b>: {{topList.accountNumber}} </p>
                <p><b>Bank</b>: {{topList.bankName}} </p>
                <p><b>Payment Link</b>: <a>https://mongoro.com/cloud</a></p>
            </div>
        </div>
        <!-- <button
            style="margin:3rem auto 1rem auto; display: block; background: #3E3E0D; padding: 15px 2rem; color: #fff; border: none; border-radius: 4px">
            Share
        </button>
    </div>
    <hr style="border: none; border-top: 1px solid #3E3E0D" />
    <button
        style="margin:3rem auto 1rem auto; display: block; background: #FFAB01; padding: 15px 2rem; color: #fff; border: none; border-radius: 4px">
        Payment processed by Mongoro
    </button> -->
    <p style="text-align: center; width: 80%; color: #757575; margin: 3rem auto; font-size: 15px; line-height: 30px;">
        Powered by mongoro
    </p>
</body>

</html>